﻿@page
@model IndexModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">

        <div class="row dashboard-cards">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Projects</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Vulns</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Risk Score</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

        </div>

        <br />

       <div class="card">
            <div class="card-header">
                <h3>Project Overview:</h3>
            </div>
            <div class="card-body overflow-scroll">
                
            </div>
        </div>

    </div>
}
else
{
    <div class="continer text-center">

        <div class="row hero">
    
            <div class="col-sm-2">
                <div class="hero-image-text">
                    <h3>Monitor Your Dependencies</h3>
                    <h1><span style="color: red;">Vuln</span>Tracker</h1>
                    <a class="btn btn-outline-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>&nbsp;<a href="#Features" class="btn btn-outline-primary">Learn More</a>
                </div>
            </div>
            <div class="col-sm-2">
                    <img src="~/res/dashboard-small-monitor-shadow.png" class="hero-image mx-auto d-block" alt="...">
            </div>

        </div>

        <hr id="Features" />

        <br />

        <hr id="Pricing" />

    </div>
}
