﻿@page
@model VulnTracker.Pages.ProjectsModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Projects";
}

@if (SignInManager.IsSignedIn(User))
{
    <div class="container">

        <!-- Modal -->
        <div class="modal fade" id="projectsModal" tabindex="-1" aria-labelledby="projectsModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="projectsModalLabel">Upload SBOM</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="addProject" asp-route-returnUrl="@Model.ReturnUrl" method="post" enctype="multipart/form-data" class="text-black">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating">
                        <input asp-for="Input.ProjectName" class="form-control" aria-required="true" />
                        <label asp-for="Input.ProjectName" class="form-label"></label>
                        <span asp-validation-for="Input.ProjectName" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-floating">
                        <input asp-for="Input.ProjectFile" class="form-control" type="file" accept=".json,.xml,.csv" aria-required="true" />
                        <label asp-for="Input.ProjectFile" class="form-label"></label>
                        <span asp-validation-for="Input.ProjectFile" class="text-danger"></span>
                        <sub class="text-white-50">Currently only CycloneDX .json or .xml files are supported</sub>
                    </div>
                    <input asp-for="Input.ProjectFile" class="form-control" type="text" value="@SignInManager.UserManager.GetUserId(User)" accept=".json,.xml,.csv" aria-required="true" hidden="true" readonly="true"/>
                    <br />
                    <div class="card-footer">
                        <div class="float-end">
                            <button id="login-submit" type="submit" class="btn btn-outline-primary">Upload</button> <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header projects-card">
                <h3 class="">Projects:</h3><a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#projectsModal">Add Project</a>
            </div>
            <div class="card-body">
                <a href="/Projects/Template">href Template</a>
            </div>
        </div>

    </div>
}else{

    Response.Redirect("Index");

}