@page
@model VulnTracker.Pages.TemplateModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "testBom Report";
}

@if (SignInManager.IsSignedIn(User)){

    <div class="container">

        <h1>testBom</h1>
        <p>Report generated from testBom.json</p>
        
        <div class="row dashboard-cards">

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Components</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Vulns</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <div class="card-body rounded-1 text-center dark-border">
                        <h3>Risk Score</h3>
                        <p>0</p>
                    </div>
                </div>
            </div>

        </div>

        <br />
        <hr />
        <br />

        <div class="card">
            <div class="card-header">
                <h3>Results</h3>
            </div>
            <div class="card-body">

            </div>
        </div>

    </div>

}else{
    Response.Redirect("/");
}