@page
@model VulnTracker.Pages.testBomModel
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "testBom";
}

@if (SignInManager.IsSignedIn(User)){

<h1>Hello World!</h1><br /><p>Created from testBom.json</p><br /><hr /><br />


}else{Response.Redirect("/");}