html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #191919;
}

nav {
    background-color: #202020;
}

.hero-image-text{
    margin-top: 3rem;
}

.hero-image{
    max-height: 50%;
    width: auto;
}

.hero{
    justify-content: center;

}

.dashboard-cards{
    justify-content: center;
    margin-top: 3rem;
}

.skip-nav-link {
    position: absolute;
    transform: translateY(-120%);
    transition: transform 325ms ease-in;
    left: 0.5rem;
    color: white;
    z-index: 1;
    padding: 0.5rem 1.5rem;
}

.skip-nav-link:focus {
    transform: translateY(20%);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.projects-card a {
    display: inline-block;
    float: right;
}

.projects-card h3 {
    display: inline-block;
}